.editor {
    display: flex;
    gap: 1rem;
}

.editor > .card {
    padding: 1rem;
    flex-basis: 70%;
}

.editor .header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;
}