/* Roboto Font */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* Material Icons */
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  min-height: 100vh;
}

.nowrap {
  white-space: nowrap;
}

.dialog form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding-top: 0.5rem;
}

.avatar-button {
  cursor: pointer;
}